*{
   
    box-sizing: border-box;
}
.img{
    width: 30%;
}



#_main{
  background-repeat: no-repeat !important;
}
._m_movie-info{
    color: rgb(12, 6, 6);
}
.maindiv{
        display: flex;
        flex-direction: row;
}
.image{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.backdrop_img{
    background-size: 100% 100%;
    height: 100vh;
}
.detail{
    color: white;
}