
* {

    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --primary-color: #2e1c12;
    --secondary-color: #8a5c3d;
}

body {
    scrollbar-color: white;
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;

}
.button{
    margin: 0 auto;
    display: flex !important;
}
header {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}

.search {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: #fff;
    font-family: inherit;
}

.search:focus {
    outline: 0;
    background-color: var(--primary-color);
}

.search::placeholder {
    color: #e0e1eb;
}

main,
#append {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movieDB_title{
    margin-right: 600px;
}
#movieclone {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 1);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
}

.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 1);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
}
.m_img{
    max-height: 600px;
    vertical-align: middle;
    width: 200px;
    
}
.movieclone img {
    max-height: 600px;
    vertical-align: middle;
    width: 200px;
}

.movie-info {

    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin-top: 0px;
}

.movie-info span {
    background-color: var(--primary-color);
    padding: 3px 7px;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green {
    color: lightgreen;
}

.movie-info span.red {
    color: red;

}

.movie-info span.orange {
    color: orange;
}

.m_overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(143, 238, 209);
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

#movieclone:hover .m_overview {
    transform: translateY(0);
}